/* hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/images/hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.hero-text p {
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-text a {
    border: none;
    outline: 0;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-top: .67rem;
    margin-bottom: 0%;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.hero-text a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 850px) {
    .hero-image {
        height: 582px;
    }
    .hero-text h1 {
        font-size: 3rem;
        font-weight: 700;
    }
    
    .hero-text p {
        font-size: 1rem;
        font-weight: 350;
    }
}

/* stay in touch */
.stay-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(154, 160, 165, 0.1);
    padding-top: 55px;
    padding-bottom: 55px;
}

.stay-in-touch h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: #3d4246;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.stay-in-touch p {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5rem;
    color: #9c9ea0;
    font-size: 1rem;
    letter-spacing: 0.02em;
    text-align: center;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.subscribe input[type=text] {
    flex: .7;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 0.08rem;
}

.subscribe input[type=submit] {
    flex: .3;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    background-color: #86cb8e;
    color: white;
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 850px) {
    .stay-in-touch {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

/* featured collection */
.featured-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featured-collection h2 {
    color: #3d4246;
    margin-top: 100px;
    margin-bottom: 75px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.product img{
    max-height: 250px;
}

.product img:hover {
    opacity: 0.6;
}

.title {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h4 {
    color: #3d4246;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.brand p {
    color: #788188;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.08em;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.price p {
    color: #788188;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
}