body, html {
    height: 100%;
    overflow-x: hidden;
}

/* hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/images/hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif;
}

.hero-text h1 {
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-top: 0%;
    margin-bottom: 0%;
}

.hero-text p {
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.05em;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-text a {
    border: none;
    outline: 0;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-top: .67em;
    margin-bottom: 0%;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.hero-text a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 850px) {
    .hero-text h1 {
        font-size: 3rem;
        font-weight: 700;
    }
    
    .hero-text p {
        font-size: 1rem;
        font-weight: 350;
    }
}

/* stay in touch */
.stay-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(120,129,136,0.1);
    padding-top: 55px;
    padding-bottom: 55px;
}